langchain
python-dotenv
pandas
numpy
transformers
accelerate
sentencepiece
unstructured
unstructured[md]
libmagic
python-magic-bin
langchain
chromadb
pyPDF
pytest
langchain-community
openai
tiktoken
langchain-openai
langchain-huggingface
langchain-chroma
sentence-transformers


